* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f4;
  padding: 0;
  margin: 0;
}

#body {
  width: 75%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  padding: 20px;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.col:hover {
  transform: scale(1.02);
}

.recent-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#scores {
  border: 1px solid #ddd;
  height: 200px;
  margin-top: 20px;
  padding: 20px;
  overflow-y: scroll;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input,
button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: border 0.3s ease-in-out;
}

input:focus {
  outline: none;
  border: 2px solid #007bff;
}

button {
  cursor: pointer;
  background: #007bff;
  color: #fff;
  transition: background 0.5s;
}

button:hover {
  background: #0056b3;
}
